
html, body{
    padding:0px;
    margin: 0px;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    background-color: #fff4ec;
}

.nav{
    background-color: #162434;
    width: 100%;
    height: 15%;
    padding: 0px;
    margin: 0px;

}

.nav ul li{
    padding: 40px 22px;
    font-size:20px ;
    list-style-type: none;
    overflow: hidden;
    float: left;


}

.Home-padding{
    margin: 0px 0px 0px 250px;
}
.User-padding{
    margin: 0px 0px 0px 350px;
}

.nav ul li a{
    font-family: Kanit, sans-serif;
    color: white;
    text-decoration: none;
}

.nav ul li h3{
    padding: -20px;
    padding-left: 20px;
    margin: -5px;
    margin-left: -40px;
    font-size:30px ;
    list-style-type: none;
    float: left;
}
input {
    padding: 10px;
    font-size: 16px;
}
.nav ul li h4{
    padding: -15px;
    padding-left: 20px;
    margin: -5px;
    font-size:25px;
    margin-left: -40px;
    list-style-type: none;
    float: left;
}
.nav ul li h3:hover{
    color:white;
}
.nav ul li a:hover{
    color: #75D5FD;
    text-decoration: overline;
}

input{
    border-radius: 40px;
    width: 200px;
    height: 45px;
}

.submit,.add-button{
    border-radius: 40px;
    width: 200px;
    height: 45px;
    background-color: #162434;
    color: white;
}

.submit:hover,.add-button:hover{
    border-radius: 40px;
    width: 200px;
    height: 45px;
    background-color: #EAB604;
    color: #162434;
}

footer{
    background-color: #162434;
    width: 100%;
    height: 15%;
    padding: 0px;
    margin: 150px 0px 0px 0px;
    color: white;
    font-family: Kanit,sans-serif;
}
.mar-log{

    padding: 180px 0px 0px 0px;

}

.log-fl{
    float: left;
    margin: 0px;



}
.Login{
    text-align: center;
    margin: 20px 0px 0px -20px;

}
.table-bordered{
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    border: 3px #162434 solid;
}

.table-bordered a{
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: #162434;
    color: white;
    text-decoration: none;
}
.table-bordered tr{
    margin: 5px;
    padding: 5px;
    height: 40px;
}

.table-bordered a:hover{
    margin: 5px;
    padding: 5px;
    height: 40px;
    background-color: #EAB604;

}

.table-bordered tr th{
    color: white;
    background-color: #162434;
}

.ifinput input {
    padding: 5px;
    height: 20px;
    font-size: 16px;
}

.save-button,.cancel-button,.delete-button{
    width: 100px;
    height: 45px;
    background-color: green;
    border: none;
}
.save-button:hover,.cancel-button:hover,.delete-button:hover{
    width: 100px;
    height: 45px;
    background-color: #EAB604;
    border: none;
    cursor: pointer;
}
.cancel-button:hover{
    width: 100px;
    height: 45px;
    background-color: #EAB604;
    border: none;
    cursor: pointer;
}
.delete-button:hover{
    width: 100px;
    height: 45px;
    background-color: #EAB604;
    border: none;
    cursor: pointer;
}
